* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', cursive;
    background: linear-gradient(135deg, #1485a1, #175ea1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Título */
h1 {
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/* Contenedor */
.contenedor {
    background: rgba(255,255,255,0.9);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Tabla */
table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

/* Encabezados */
th {
    background: #003cff;
    color: white;
    padding: 10px;
    border: 2px solid #fff;
}

/* Celdas */
td {
    border: 2px solid #0104c5;
    padding: 5px;
}

/* Inputs */
input {
    width: 100%;
    padding: 5px;
    border: none;
    text-align: center;
    background: #fff0f5;
}

/* Colores alternados tipo juego */
tbody tr:nth-child(even) td {
    background: #ffe4ec;
}

tbody tr:nth-child(odd) td {
    background: #fff0f5;
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #0486c2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0088f8;
    transform: scale(1.05);
}